* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    display: flex;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.nav__s1__title {
    color: #953adf;
}

.nav__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.nav__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.nav__s3 {
    display: flex;
    gap: 20px;
    align-items: center;
}
.mylearning{
    position: relative;
}
.mylearning__popup{
    background-color: white;
    width:150px;
    height: 90px;
    position: absolute;
    padding: 20px;
    top: 150%;
    right: 0;
    border: solid black 1px;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;
}
.categories {
    display: flex;
    border-bottom: solid black 1px;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.categories p {
    background-color: #A033EE;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 4px;
    border: solid #A033EE 1px;
    cursor: pointer;


}

.categories p:hover {
    color: black;
    background-color: transparent;
    border: solid #A033EE 1px;
    transition-duration: 2s;

}

.saleimage img {
    width: 100%;
}
.saleimage__offer{
    width: fit-content;
    height: 100px;
    padding: 20px;
    background-color:transparent;
    position: absolute;
    top: 200px;
    left: 50px;
    border: solid white 2px;
    border-radius: 10px;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: zoom;
    animation-duration: 1s;
}
@keyframes zoom {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.recommended {
    padding: 1opx;
    margin-left: 10px;
}

.course-card {
    border-radius: 10px;
    width: 250px;
    background-color: rgb(249, 249, 249);
    flex-grow: 1;
    flex-basis: 20%;
    height: 400px;

}

.course-card:hover {
    color: #953adf;
}

.course-card img {
    width: 100%;
    height: 50%;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;

}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
    gap: 2px;

}

.topics__container p {
    padding: 10px;
    border: solid grey 2px;
    flex-grow: 1;
    flex-basis: 25%;

}

.popular {
    padding: 10px;
    margin: 2px;

}

.popular__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;

}

.footer {
    background-color: black;
    color: white;
    padding: 30px;
}

.footer p:hover {
    color: #953adf;
}

.footer__one p {
    margin: 20px;
}

.footer__one {
    display: flex;
    gap: 40px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}